# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages used by Data Scientists
* List commonly used libraries by Data Scientists
* Tabulate Data Science Tools
* Evaluate Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R
4. Scala
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. pandas (python)
2. numpy (python)
3. matplotlib (python)
4. scipy (python)
5. ggplot (R)
6. GGally (R)
7. datasets (R)

|Data Science Tools|
|------------------|
|MySQL|
|PostgreSQL|
|MongoDB|
|Apache Kafka|
|Git|
|Github|
|JupyterNotebooks|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Nilotpal Lodh